@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300;700&family=Ubuntu&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #241023;
    color: #EECF6D;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
}

h1,
nav {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    flex-basis: 0;
    color: #EECF6D;
    letter-spacing: 0.1rem;
    flex-basis: 0;
}

h1 {
    font-size: 42px;
}

a {
    color: #EECF6D;
}

a:hover {
    text-decoration: underline
}

main {
    flex-grow: 6;
    flex-basis: 0;
    background-color: #241023;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EECF6D;
    ;
    font-size: large;
}

img {
    width: 200px;
}

.main-text {
    max-width: 300px;
    min-width: none;
    text-align: center;
}

footer {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #241023;
    color: #EECF6D;
    min-height: 180px;
}

small {
    padding: 30px 30px 0px 30px;
    text-align: center;
}

.spacer {
    min-height: 30px;
}

.title-span {
    margin-bottom: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

li {
    list-style: none;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}